Задание 1_1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Staff">
<xs:complexType>
<xs:choice maxOccurs="unbounded">
<xs:element name="Worker" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int" />
<xs:element name="Ferstname" type="xs:string" />
<xs:element name="Secondname" type="xs:string" />
<xs:element name="MiddleName" type="xs:string" />
<xs:element name="Function" type="xs:string" />
<xs:element name="EmploymentDate" type="xs:date" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:choice>
</xs:complexType>
</xs:element>
</xs:schema>
